@page
@model AttendanceSystem.Pages.ScanQR.ScanQRModel
@{
    ViewData["Title"] = "Mark Attendance";
}

<h2>@ViewData["Title"]</h2>



<hr />

<h3>QR Output</h3>
<p><strong>Email:</strong> @Model.OutputEmail</p>
<p><strong>Last Name:</strong> @Model.LastName</p>
<p><strong>Student Number:</strong> @Model.StudentNumber</p>

<hr />

<!-- Location Section -->
<h3>My Location</h3>
<button id="btnLocation">Log My Location</button>

<div id="locationDisplay" style="margin-top:10px;">
    <p><strong>Latitude:</strong> <span id="lat">—</span></p>
    <p><strong>Longitude:</strong> <span id="lon">—</span></p>
    <p><strong>Accuracy:</strong> <span id="acc">—</span> meters</p>
</div>

<p id="locationResult" style="margin-top:10px; color:green;"></p>
<p id="LocationSuccess" style="margin-top:10px; color:green;"></p>

@section Scripts {
    <script src="~/js/loglocation.js"></script>
}
@{
    if(Model.IsLocated == true )
    {
        <form method="post" enctype="multipart/form-data"> 
            <input type="file" asp-for="InputFile" />
            <button type="submit" asp-page-handler="Scan">Upload</button>
        </form>
    }

  }


