@page
@model AttendanceSystem.Pages.Admin_view.AttendanceMatrix.MatricesModel
@using ChartJSCore.Helpers
@using NuGet.Protocol


<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row align-items-center mb-4">

        @{
            // ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];
            // ChartJSCore.Models.Chart doughnutChart = (ChartJSCore.Models.Chart)ViewData["doughnutChart"];

            int chartNum = 1;
            foreach (var item in Model.AttendanceChartList)
            {

                <h1>@chartNum</h1>
                var chartId = $"chart_{item.Type}{chartNum}";
                <div class="chart-container border border-1 m-0 p-2">
                    <canvas id="@chartId"></canvas>
                </div>

                ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)(item);

                <script>
                    @Html.Raw(chart.CreateChartCode(chartId))


                </script>
                chartNum++;
            }



        }

    </div>

</div>



@section Scripts {
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <script>

      



    </script>
}
