@page
@model AttendanceSystem.Pages.Admin_view.AttendanceMatrix.MatricesModel
@using ChartJSCore.Helpers
@using NuGet.Protocol


@{
    ViewData["Title"] = "Student Attendances";
}

<h1 class=text-success>@ViewData["Title"]</h1>



<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row align-items-center mb-4">

        @{
            // ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];
            // ChartJSCore.Models.Chart doughnutChart = (ChartJSCore.Models.Chart)ViewData["doughnutChart"];

            int chartNum = 1;
            foreach (var item in Model.AttendanceChartList)
            {

                <h1>@chartNum</h1>

                var presentCount = item.Data.Datasets[0].Data[0]; 
                var totalCount = item.Data.Datasets[0].Data.Sum(d => d ?? 0);
                var centerValue = totalCount > 0 ? $"{(presentCount * 100 / totalCount):0}%" : "0%";


                var chartId = $"chart_{item.Type}{chartNum}";
                <div class="chart-container border border-1 m-0 p-2">
                    <canvas id="@chartId"></canvas>
                </div>

                ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)(item);

                <script>
                    @Html.Raw(chart.CreateChartCode(chartId))
                                Chart.register({
                        id: 'centerText',
                        afterDraw(chart) {
                            const { ctx, chartArea: { width, height } } = chart;
                            ctx.save();
                            ctx.font = 'bold 2.0em sans-serif';
                            ctx.textBaseline = 'middle';
                            ctx.fillStyle = '#333';
                            const text = '@centerValue';
                            const textX = (width - ctx.measureText(text).width) / 2;
                            const textY = height / 1.6;
                            ctx.fillText(text, textX, textY);
                            ctx.restore();
                        }
                    });

                </script>
                chartNum++;
            }



        }

    </div>

</div>



@section Scripts {
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <script>

      



    </script>
}
