@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* 1. Define the Keyframes */
    @keyframes scan {
        0% {
            top: 0%;
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            top: 100%;
            opacity: 0;
        }
    }

    /* 2. Define the Class */
    .animate-scan {
        animation: scan 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
}