@page
@model AttendanceSystem.Pages.AccessDeniedModel
@{

	ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger mt-3"> 
	<strong>@ViewData["Title"]</strong>

	<a asp-page="/Index">
	<li>
		Go Back
	</li>	
	</a>


</div>
